{% spaceless %}
<div class="image {{ content.get_position_display|lower }} {% if content.wrappable and not content.position %}left{% endif %}" style="
        text-align: center;
        display: block;
        {% if content.get_position_display|lower == 'centre' %}
            margin: auto;
        {% endif %}
        
        {% if content.get_position_display|lower == 'left' %}
            float:left;
        {% endif %}
            
        {% if content.get_position_display|lower == 'right' %}
            float:right;
        {% endif %}
            
        {% if content.expand %}
            width:{{ content.expand }};
        {% else  %}
            width:{{ content.image_width }}px;
        {% endif %}
  ">
    
  {% if content.link_url %}
    <a href="{{ content.link_url }}">
  {% else %}
    {% if content.link_to_original %}
      <a href="{{ content.get_content.file.url }}">
    {% endif %}
  {% endif %}
    <img src="{{ content.resized_url }}" alt="{{ content.get_content.alt_text }}" />
  {% if content.link_to_original or content.link_url %}
    </a>
  {% endif %}
  {% if content.caption %}<br/><span class="caption">{{ content.caption }}</span>{% endif %}
</div>
{% if not content.wrappable %}<br style="clear:both" />{% endif %}
{% endspaceless %}
